// Colors
$primary-color: #aa866a;
$secondary-color: #40646c;
$text-color: rgb(255, 255, 255);
$blue-accent: #3e9cdc;
$dark-blue: #286690;
$dark-bg: rgba(16, 16, 29, 0.9);
$footer-bg: rgb(61, 64, 80);
$slider-bg: #ccc;
$slider-thumb: #3498db;
$form-bg: rgba(255, 255, 255, 0.85);
$form-text: rgb(39, 39, 51);

// Sizes
$max-width: 1920px;
$content-width: 1168px;
$section-content-width: 780px;
$button-width: 182px;
